/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: #1a1b21;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  padding: 8px;
}

.app > img {
  height: 350px;
}

.header {
  text-align: center;
}

.header > h2 {
  font-size: 16px;
  color: #f3bf99;
}
.header > h3 {
  font-size: 12px;
  font-weight: 400;
  color: #f5f5f5;
}

.button {
}

.button > button {
  padding: 10px;
  width: 120px;
  margin-inline: 10px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.button > button > img {
  margin-right: 10px;
}

.email-button {
}

.email-button:hover {
  background-color: rgb(217, 217, 217);
}

.linkedin-button {
  color: white;
  background-color: #5093e2;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.linkedin-button:hover {
  color: white;
  background-color: #447ec1;
}

.about {
  width: 260px;
  word-wrap: break-word;
}

.about > h1 {
  font-size: 24px;
}

.about > p {
  font-size: 14px;
  letter-spacing: 1px;
  color: #dcdcdc;
}

.interests {
  width: 260px;
  word-wrap: break-word;
}

.interests > h1 {
  font-size: 24px;
}

.interests > p {
  font-size: 14px;
  letter-spacing: 1px;
  color: #dcdcdc;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > img {
  margin: 10px;
  cursor: pointer;
}
